{% extends "base.html" %}

{% block content %}
<div class="middle-content about-page">
	<div class="avatar-img"><img class="avatar js-avatar" width="230" height="230" src="https://0.gravatar.com/avatar/fdbbce5c6df20572033432172ad02f1e?d=https%3A%2F%2Fidenticons.github.com%2F5220dc71f5ba5aee246be0224806e8e1.png&r=x&s=460" data-user="5964645"></div>

  	<h2 class="helv-light-ultra">Computer Science educated, programmer by trade, heavy lifting enthusiast.</h2>

  	<p class="about-2">I started off coding Java for an ERP-visualization company called <a href="http://www.nakisa.com">Nakisa</a>.</p>

  	<p>An acquaintance turned mentor brought me to the <span class="strike-out">dark</span> python side and I haven't looked back since. </p>

  	<p>I've been working front-end and back-end on Django apps and loving it. But because you can never get too complacent, <span class="italic">it is through conflict we find ourselves</span>, I also have a few pet <a href="{% url 'projects' %}#pet">projects</a> to practice some new techniques.</p>

  	<p>The easiest way to contact me is by <a href="mailto:miazbikowski@gmail.com">e-mail</a>.</p>

  	<p>You can also find me on <a href="http://ca.linkedin.com/in/miazbikowski/" target="_new">LinkedIn</a> and <a href="https://github.com/TempestMia" target="_new">GitHub</a>, but I'm not so good at <a href="http://www.twitter.com/tempestmia" target="_new">Twitter.</a></p>

</div>

{% endblock %}