{% extends "base.html" %}

{% block content %}
<div class="middle-content projects-page">
  <h3>Work Projects</h3>
  <ul>
  	<li>
      <div><a href="http://www.sensorsuite.com">SensorSuite</a></div>
      <p class="project-desc">
        A start-up in Toronto that provides buildings with a mesh network of sensors. The portion I worked on was the web application which allows building managers to monitor the data of their installed sensors. 
      </p>
    </li>
    <li>
      <div><a href="http://www.jobdeals.com">Jobdeals</a></div>
      <p class="project-desc">
        A marketplace website built on the Django platform, providing interaction between service providers and people looking for services. I worked extensively on this project and touched almost every aspect of the platform.
      </p>
    </li>
  </ul>
  <h3>Personal Projects</h3>
  <ul>
  	<li>
      <a href="https://github.com/TempestMia/wsmmo">Websocket MMO</a>
      <p class="project-desc">
        A small project to teach myself the wonderful world of websockets. It runs on Tornado and the client uses enchantjs. 
      </p>
    </li>
  </ul>
  <p class="project-disc">
  	Disclaimer: I only recently came around to thinking maybe I should make my personal projects presentable to others, put them on GitHub as proof that yes, I do code. I'm just starting off with the websocket mmo, hopefully whenever you, dear reader, take a gander, it'll be somewhat complete (as I'm writing this, it needs a lot more work).
  </p>
  <h3>Non-Programming Projects</h3>
  <ul>
    <li>
      <a href="https://soundcloud.com/tempestmia">SoundCloud</a>
      <p class="project-desc">
        Some recordings of the various bands I've been part of and some newer solo compositions (with more to come).
      </p>
      <a href="http://fixanddamn.blogspot.ca/">Strength Training</a>
      <p class="project-desc">
        Mostly a training journal with some entries of lessons and observations.
      </p>
    </li>
  </ul>

</div>

{% endblock %}